---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection, getEntry, render } from 'astro:content';
import { Image } from 'astro:assets';
import { formatDateIt, formatMediumIt, formatTypeIt } from '../../utils';

export async function getStaticPaths() {
  const posts = await getCollection('posts');
  return posts.map((post: any) => {
    return {
      params: { post: post.id }
    }
  });
}

const post = await getEntry('posts', (Astro.params as any).post);

const { Content } = await render(post);
---
<BaseLayout>
  <div class="info">
    <span class="type">{formatTypeIt(post.data.type)}</span> |
    <span class="medium">{formatMediumIt(post.data.medium)}</span> |
    <span class="date">{formatDateIt(post.data.pubDate)}</span>
  </div>
  <div class="title">{post.data.title}</div>
  <Image class="hero" src={post.data.heroBig} alt={post.data.title} />
  <div class="markdown">
    <Content />
  </div>
  <div class="score">
    <span>Voto: {post.data.score}</span>
  </div>
  <style>
    .info {
      text-transform: uppercase;
      font-weight: 600;
      color: rgb(200, 200, 200);
    }

    .type {
      color: rgb(100, 100, 100);
    }

    .medium {
      color: rgb(25, 125, 255);
    }

    .date {
      color: rgb(150, 150, 150);
    }

    .title {
      font-weight: 800;
      font-size: 2.7rem;
      margin-bottom: 1rem;
    }

    .hero {
      width: 100%;
      height: auto;
    }

    .score {
      margin-top: 5rem;
      background: rgb(0, 100, 255);
      color: white;
      height: 12rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      font-weight: 800;
    }

    .markdown {
      font-size: 1.2rem;
      line-height: 1.6;
      font-weight: 200;
      word-spacing: 0.05rem;
    }

    :global(.markdown p) {
      margin-bottom: 2rem;;
    }

    @media (max-width: 60rem) {
      .markdown {
        font-size: 5vw;
        padding-left: 4vw;
        padding-right: 4vw;
      }
    }
    
    @media (min-width: 60rem) {
      .markdown {
        padding-left: 9rem;
        padding-right: 9rem;
        text-align: justify;
      }
    }
  </style>
</BaseLayout>
