---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import { formatDateIt, formatMediumIt, formatTypeIt } from '../utils';

const posts = await getCollection('posts');
---
<BaseLayout>
  <div class="posts">
    {
      posts.map((post: any) => (
        <a class="post" href={`/posts/${post.id}`}>
          <div class="image-container">
            <Image src={post.data.hero} alt={post.data.title} />
            <div class="score">{post.data.score}</div>
          </div>
          <div class="info">
            <div class="info-header">
              <span class="type">{formatTypeIt(post.data.type)}</span> |
              <span class="medium">{formatMediumIt(post.data.medium)}</span> |
              <span class="date">{formatDateIt(post.data.pubDate)}</span>
            </div>
            <div class="title">{post.data.title}</div>
          </div>
        </a>
      ))
    }
  </div>
</BaseLayout>
<style>
  @media (max-width: 60rem) {
    .posts {
      display: flex;
      flex-direction: column;
    }

    .post {
      margin-bottom: 1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .post .image-container {
      width: 40%;
    }

    .post img {
      max-width: 100%;
      height: auto;
    }

    .post .info {
      padding: 1rem;
    }

    .post .info-header {
      font-size: 0.6rem;
    }

    .post .title {
      font-size: 1.5rem;
    }

    .post .score {
      display: none;
    }
  }

  @media (min-width: 60rem) {
    .posts {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 1rem;
      row-gap: 4rem;
    }

    .post img {
      width: 100%;
      height: auto;
    }

    .post .info-header {
      font-size: 0.7rem;
    }

    .post .title {
      font-size: 1.5rem;
    }

    .post .score {
      display: flex;
    }
  }

  .post .info-header {
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(200, 200, 200);
  }

  .post .type {
    color: rgb(100, 100, 100);
  }

  .post .medium {
    color: rgb(25, 125, 255);
  }

  .post .date {
    color: rgb(150, 150, 150);
  }

  .post .title {
    font-weight: 800;
  }

  .post .image-container {
    position: relative;
  }

  .post .score {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border-radius: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    font-weight: 900;
    font-size: 0.7rem;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    justify-content: center;
    align-items: center;
  }
</style>
